.card__item__container {
  border: 1px solid lightgray;
  padding: 10px;
  min-height: 50px;
  border-radius: 5px;
  img {
    width: 260px;
    height: 300px;
    object-fit: cover;
    &:hover {
      filter: contrast(75%);
    }
  }
}
